.wrap{
    padding-top: 3rem; 
    width: 500px;
    margin: 0 auto;
}

hr{
    margin: 2rem 0;
}

.box{
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}